In [1]:
import numpy as np
import pandas as pd
import io
from google.colab import files

In [2]:
uploaded = files.upload()
df = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df

Saving matches.csv to matches.csv

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,11346,2019,Mohali,05-05-2019,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,IS Bindra Stadium,KN Ananthapadmanabhan,C Shamshuddin,Bruce Oxenford
751,11347,2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin

Upload widget is only available when the cell has been executed in the current browser session. Please rerun this cell to enable.
Saving matches.csv to matches (2).csv

In [3]:
df.head(2)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

Q1. Find the total number of matches played till now in IPL

In [4]:
df.shape[0] ## rows gives the information of no of matches played

755

Q2. Create a new dataframe from df which will have all the alternate rows and columns from df starting from 0

In [5]:
df1 = df.iloc[::2,::2] ## indexing
df1.head(4)

,id,city,team1,toss_winner,result,winner,win_by_wickets,venue,umpire2
0,1,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,Sunrisers Hyderabad,0,"Rajiv Gandhi International Stadium, Uppal",NJ Llong
2,3,Rajkot,Gujarat Lions,Kolkata Knight Riders,normal,Kolkata Knight Riders,10,Saurashtra Cricket Association Stadium,CK Nandan
4,5,Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,normal,Royal Challengers Bangalore,0,M Chinnaswamy Stadium,NaN
6,7,Mumbai,Kolkata Knight Riders,Mumbai Indians,normal,Mumbai Indians,4,Wankhede Stadium,CK Nandan

Q3. Find the number of matches played in Mumbai in the period of 2013 and 2017

In [6]:
mask1 = df[df['season'] >= 2013] ## fitered the data as per season greater than 2013
mask2 = mask1[mask1['city']== 'Mumbai']
mask2.shape[0]

54

Q4. Find the number of matches where the margin of victory was greater than 30

In [7]:
df[df['win_by_runs']>30].shape[0]

121

Q5. What percent times KKR decides to bat after winning the toss

In [8]:
filter1 =  df[df['toss_winner'] == 'Kolkata Knight Riders'] ## filtering the data as per requirement
total_toss_won = filter1.shape[0] ## gives the total winning of toss by kkr
bat_taken = filter1['toss_decision'].value_counts()['bat'] ## no of times kkr decided to bat
print("percent times KKR decides to bat after winning the toss is ",(bat_taken/total_toss_won)*100)

percent times KKR decides to bat after winning the toss is  32.608695652173914