In [1]:
import numpy as np
import pandas as pd
import io
import matplotlib.pyplot as plt
from google.colab import files

In [31]:
uploaded = files.upload()
df1 = pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df.head()

Saving matches.csv to matches (1).csv

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

Upload widget is only available when the cell has been executed in the current browser session. Please rerun this cell to enable.
Saving matches.csv to matches (1).csv

In [29]:
uploaded = files.upload()
df2 = pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
df2.head()

Saving deliveries.csv to deliveries.csv

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

Upload widget is only available when the cell has been executed in the current browser session. Please rerun this cell to enable.
Saving deliveries.csv to deliveries.csv

Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [32]:
new_df1 = df1.drop_duplicates(subset='season')
new_df1['city'].value_counts().head(3)

Mumbai     3
Chennai    3
Kolkata    2
Name: city, dtype: int64

Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [33]:
filter_1 = df2[df2['bowler']=='SL Malinga']
filter_1.groupby('batsman').sum().sort_values('batsman_runs',ascending=False).head(3)

,match_id,inning,over,ball,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
batsman,,,,,,,,,,,,,
SR Watson,298649,119,463,242,0,1,0,4,1,0,127,6,133
AB de Villiers,198972,92,834,246,0,4,0,1,0,0,125,5,130
MS Dhoni,77927,110,1043,227,0,2,0,0,1,0,89,3,92

Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [34]:
## pre- processing of the function
mask_1 = df2['dismissal_kind']=='caught'
mask_2 = df2['dismissal_kind']=='bowled'
mask_3 = df2['dismissal_kind']=='lbw'
mask_4 = df2['dismissal_kind']=='stumped'
mask_5 = df2['dismissal_kind']=='caught and bowled'
mask_6 = df2['dismissal_kind']=='hit wicket'
new_df2 = df2[mask_1 | mask_2 |mask_3 | mask_4 |mask_5 | mask_6]

In [40]:
def bowler_den(b):
  print((new_df2[new_df2['batting_team'] == b])['bowler'].value_counts().head(1))

In [39]:
bowler_den('Royal Challengers Bangalore')

Harbhajan Singh    23
Name: bowler, dtype: int64

In [37]:
bowler_den('Kolkata Knight Riders')

B Kumar    27
Name: bowler, dtype: int64

In [38]:
bowler_den('Chennai Super Kings')

SL Malinga    31
Name: bowler, dtype: int64

In [41]:
bowler_den('Mumbai Indians')

DJ Bravo    28
Name: bowler, dtype: int64

Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won. [Difficult]

ex.-- if team is CSK-- CSK in finals-

Played- 8 Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [42]:
def teamrec(a):
  team_in_final = df1.drop_duplicates(subset='season',keep='last') ## season last match in always a final match
  played = team_in_final[team_in_final['team1']==a].shape[0] + team_in_final[team_in_final['team2']== a].shape[0]
  won = team_in_final[team_in_final['winner']==a].shape[0]
  if (played !=0):
    print("Played-",played,"Won-",won)
  else:
    print("played-",played)

In [43]:
teamrec('Chennai Super Kings')

Played- 8 Won- 4

In [44]:
teamrec('Rising Pune Supergiant')

Played- 1 Won- 0

In [45]:
teamrec('Mumbai Indians')

Played- 4 Won- 3

In [46]:
teamrec('Gujrat Lions')

played- 0

Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [47]:
def batsmanrec(a):
  new_df = df2.groupby(['batsman','bowling_team']) ## grouping according to batsman and bowling team
  r = new_df['batsman_runs'].sum()
  print("Scored Against Each Team:\n",r[a])

In [48]:
batsmanrec('DA Warner')

Scored Against Each Team:
 bowling_team
Chennai Super Kings            448
Deccan Chargers                226
Delhi Capitals                  65
Delhi Daredevils               268
Gujarat Lions                  336
Kings XI Punjab                833
Kochi Tuskers Kerala            16
Kolkata Knight Riders          835
Mumbai Indians                 482
Pune Warriors                  118
Rajasthan Royals               342
Rising Pune Supergiant          83
Rising Pune Supergiants         11
Royal Challengers Bangalore    670
Sunrisers Hyderabad              8
Name: batsman_runs, dtype: int64

In [49]:
batsmanrec('RG Sharma')

Scored Against Each Team:
 bowling_team
Chennai Super Kings            710
Deccan Chargers                175
Delhi Capitals                  45
Delhi Daredevils               703
Gujarat Lions                   82
Kings XI Punjab                590
Kolkata Knight Riders          827
Mumbai Indians                 103
Pune Warriors                  135
Rajasthan Royals               455
Rising Pune Supergiant          86
Rising Pune Supergiants         92
Royal Challengers Bangalore    693
Sunrisers Hyderabad            218
Name: batsman_runs, dtype: int64

In [50]:
batsmanrec('MS Dhoni')

Scored Against Each Team:
 bowling_team
Deccan Chargers                281
Delhi Capitals                  89
Delhi Daredevils               488
Gujarat Lions                   83
Kings XI Punjab                601
Kochi Tuskers Kerala            23
Kolkata Knight Riders          474
Mumbai Indians                 669
Pune Warriors                  135
Rajasthan Royals               428
Royal Challengers Bangalore    808
Sunrisers Hyderabad            398
Name: batsman_runs, dtype: int64